<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New message</h1>
    <p><%= @name %> says hi - here's their message:</p>
    <p><%= @body %></p>

    <p>Email them back at: <%= @email %></p>
  </body>
</html>
